<div>
  <%= form_for [:admin, @condition] do |f| %>
    <div>
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>
    <div>
      <%= f.label :max_temperature %>
      <%= f.number_field :max_temperature, step: 0.1 %>
    </div>
    <div>
      <%= f.label :mean_temperature %>
      <%= f.number_field :mean_temperature, step: 0.1 %>
    </div>
    <div>
      <%= f.label :min_temperature %>
      <%= f.number_field :min_temperature, step: 0.1 %>
    </div>
    <div>
      <%= f.label :mean_humidity %>
      <%= f.number_field :mean_humidity, step: 0.1 %>
    </div>
    <div>
      <%= f.label :mean_visibility %>
      <%= f.number_field :mean_visibility, step: 0.1 %>
    </div>
    <div>
      <%= f.label :mean_wind_speed %>
      <%= f.number_field :mean_wind_speed, step: 0.1 %>
    </div>
    <div>
      <%= f.label :precipitation %>
      <%= f.number_field :precipitation, step: 0.01 %>
    </div>
    <div class='form-buttons'>
      <%= link_to 'Cancel', conditions_path, class:'btn btn-danger form-cancel-button' %>
      <%= f.submit class:'btn btn-success' %>
    </div>
  <% end %>
</div>
