<h1>Conditions Dashboard</h1>
<div class="dashboard-breakout">
  <h3>Maximum Temperature</h3>
  <div>
    <div>40s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_40s %>
    <div>50s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_50s %>
    <div>60s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_60s %>
    <div>70s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_70s %>
    <div>80s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_80s %>
    <div>90s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_90s %>
  </div>
</div>
