<h1>Conditions Dashboard</h1>
<div class="dashboard-breakout">
  <h3>Maximum Temperature</h3>
  <div>
    <div>30s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_30s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_30s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_30s %><br>
    <div>40s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_40s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_40s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_40s %><br>
    <div>50s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_50s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_50s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_50s %><br>
    <div>60s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_60s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_60s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_60s %><br>
    <div>70s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_70s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_70s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_70s %><br>
    <div>80s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_80s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_80s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_80s %><br>
    <div>90s</div>
    Highest number of rides: <%= @highest_number_of_rides_on_a_day_in_the_90s %><br>
    Lowest number of rides: <%= @lowest_number_of_rides_on_a_day_in_the_90s %><br>
    Average number of rides: <%= @average_number_of_rides_on_a_day_in_the_90s %><br>
  </div>
</div>
