<h1>Conditions Dashboard</h1>
  <h3>Maximum Temperature</h3>
  <div id='max-temps'>
    <% (30..90).step(10).each do |temp| %>
    <h4><%= temp %>s<br></h4>
      Highest number of rides: <%= @conditions.highest_number_of_rides_on_a_day_in_max_temperature_range(temp) %><br>
      Lowest number of rides: <%= @conditions.lowest_number_of_rides_on_a_day_in_max_temperature_range(temp) %><br>
      Average number of rides: <%= "%.2f" % @conditions.average_number_of_rides_on_a_day_in_max_temperature_range(temp) %><br>
    <% end %>
  </div>
  <h3>Precipitation</h3>
  <div id='precipitations'>
    <% (0..3).step(0.5).each do |precip| %>
    <h4><%= precip %>"<br></h4>
      Highest number of rides: <%= @conditions.highest_number_of_rides_on_a_day_in_precipitation_range(precip) %><br>
      Lowest number of rides: <%= @conditions.lowest_number_of_rides_on_a_day_in_precipitation_range(precip) %><br>
      Average number of rides: <%= "%.2f" % @conditions.average_number_of_rides_on_a_day_in_precipitation_range(precip) %><br>
    <% end %>
  </div>
  <h3>Mean Wind Speeds</h3>
  <div id='mean-wind-speeds'>
    <% (0..24).step(4).each do |speed| %>
    <h4><%= speed %> mph<br></h4>
      Highest number of rides: <%= @conditions.highest_number_of_rides_on_a_day_in_mean_wind_speed_range(speed) %><br>
      Lowest number of rides: <%= @conditions.lowest_number_of_rides_on_a_day_in_mean_wind_speed_range(speed) %><br>
      Average number of rides: <%= "%.2f" % @conditions.average_number_of_rides_on_a_day_in_mean_wind_speed_range(speed) %><br>
    <% end %>
  </div>
  <h3>Mean Visibility</h3>
  <div id='mean-visibilities'>
    <% (0..24).step(4).each do |distance| %>
    <h4><%= distance %> miles<br></h4>
      Highest number of rides: <%= @conditions.highest_number_of_rides_on_a_day_in_mean_visibility_range(distance) %><br>
      Lowest number of rides: <%= @conditions.lowest_number_of_rides_on_a_day_in_mean_visibility_range(distance) %><br>
      Average number of rides: <%= "%.2f" % @conditions.average_number_of_rides_on_a_day_in_mean_visibility_range(distance) %><br>
    <% end %>
  </div>
