<h1>Conditions</h1>

<% @conditions.each do |condition| %>
  <h3><%= link_to condition.date.strftime('%m/%d/%Y'), condition_path(condition) %></h3>
  <p>Max Temperature: <%= condition.max_temperature %> ºF</p>
  <p>Mean Temperature: <%= condition.mean_temperature %> ºF</p>
  <p>Min Temperature: <%= condition.min_temperature %> ºF</p>
  <p>Mean Humidity: <%= condition.mean_humidity %> %</p>
  <p>Mean Visibility: <%= condition.mean_visibility %> Miles</p>
  <p>Mean Wind Speed: <%= condition.mean_wind_speed %> mph</p>
  <p>Precipitation: <%= condition.precipitation %> "</p>
<% end %>
