<h1>Condition</h1>

<p>Date: <%= @condition.date.strftime("%m/%d/%Y") %></p>
<p>Max Temperature: <%= @condition.max_temperature %> ºF</p>
<p>Mean Temperature: <%= @condition.mean_temperature %> ºF</p>
<p>Min Temperature: <%= @condition.min_temperature %> ºF</p>
<p>Mean Humidity: <%= @condition.mean_humidity %> %</p>
<p>Mean Visibility: <%= @condition.mean_visibility %> Miles</p>
<p>Mean Wind Speed: <%= @condition.mean_wind_speed %> mph</p>
<p>Precipitation: <%= @condition.precipitation %> "</p>
<% if admin_user? %>
  <%= button_to 'Edit', edit_admin_condition_path(@condition), method: :get %>
  <%= button_to 'Delete', admin_condition_path(@condition), method: :delete, data: {confirm: "Really want to delete this condition?"} %>
<% end %>

<%= link_to '<< Back to Weather Conditions Index', conditions_path %>
