<h1>Condition</h1>

<p>Date: <%= @condition.date %></p>
<p>Max Temperature: <%= @condition.max_temperature %></p>
<p>Mean Temperature: <%= @condition.mean_temperature %></p>
<p>Min Temperature: <%= @condition.min_temperature %></p>
<p>Mean Humidity: <%= @condition.mean_humidity %></p>
<p>Mean Visibility: <%= @condition.mean_visibility %></p>
<p>Mean Wind Speed: <%= @condition.mean_wind_speed %></p>
<p>Precipitation: <%= @condition.precipitation %></p>
