<h1>Trips Dashboard</h1>
<p>Average Ride Duration: <%= @average_ride_duration.round(1) %></p>
<p>Longest Ride Duration: <%= @longest_ride_duration.round(1) %></p>
<p>Shortest Ride Duration: <%= @shortest_ride_duration.round(1) %></p>
<br>
<p>Station Where Most Rides Start: <%= @most_frequent_start_station.name %></p>
<p>Station Where Most Rides End: <%= @most_frequent_end_station.name %></p>
