<header class='jumbotron' id='header'>
  <h1 class='text-white'>Trips</h1>
  <% if admin_user? %>
    <%= link_to 'Create New Trip', new_admin_trip_path, class:'btn btn-secondary' %>
  <% end %>
</header>


<table class="table table-striped table-light">
  <thead class='table-light table-header'>
    <tr>
      <th scope="col" id='table-entry'>Trip #</th>
      <th scope="col" id='table-entry'>Duration</th>
      <th scope="col" id='table-entry'>Start Date</th>
      <th scope="col" id='table-entry'>End Date</th>
      <th scope="col" id='table-entry'>Start Station</th>
      <th scope="col" id='table-entry'>End Station</th>
      <th scope="col" id='table-entry'>Bike #</th>
      <th scope="col" id='table-entry'>Subscription Type</th>
      <th scope="col" id='table-entry'>Zip Code</th>
      <% if admin_user? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
    <tr>
      <td id='table-entry'><%= link_to "##{trip.id}", trip_path(trip) %></td>
      <td id='table-entry'><%= trip.duration %></td>
      <td id='table-entry'><%= trip.start_date.strftime('%m/%d/%Y') %></td>
      <td id='table-entry'><%= trip.end_date.strftime('%m/%d/%Y') %></td>
      <% if trip.start_station.nil? %>
        <td id='table-entry'>-</td>
      <% else %>
        <td id='table-entry'><%= trip.start_station.name %></td>
      <% end %>
      <% if trip.end_station.nil? %>
        <td id='table-entry'>-</td>
      <% else %>
        <td id='table-entry'><%= trip.end_station.name %></td>
      <% end %>
      <td id='table-entry'><%= trip.bike_id %></td>
      <td id='table-entry'><%= trip.subscription_type %></td>
      <td id='table-entry'><%= trip.zip_code %></td>
      <% if admin_user? %>
        <td><%= button_to 'Edit', edit_admin_trip_path(trip), method: :get, class:'btn btn-success edit-button' %></td>
        <td><%= button_to 'Delete', admin_trip_path(trip), method: :delete, data: {confirm: "Really want to delete this trip?"}, class:'btn btn-danger delete-button' %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links">
  <%= will_paginate @trips %>
</div>
