<p>This Trip</p>
<div class="">Duration: <%= @trip.duration %></div>
<div class="">Start Station: <%= @trip.start_station.name %></div>
<div class="">Start Date: <%= @trip.start_date.strftime("%m/%d/%Y") %></div>
<div class="">End Station: <%= @trip.end_station.name %></div>
<div class="">End Date: <%= @trip.end_date.strftime("%m/%d/%Y") %></div>
<div class="">Bike Id: <%= @trip.bike_id %></div>
<div class="">Subscription Type: <%= @trip.subscription_type %></div>
<div class="">Zip Code: <%= @trip.zip_code %></div>
