<p>This Trip</p>
Duration: <%= @trip.duration %>
Start Station: <%= @trip.start_station.name %>
Start Date: <%= @trip.start_date %>
End Station: <%= @trip.end_station.name %>
End Date: <%= @trip.end_date %>
Bike Id: <%= @trip.bike_id %>
Subscription Type: <%= @trip.subscription_type %>
Zip Code: <%= @trip.zip_code %>
