<header class='jumbotron' id='header'>
  <h1 class='text-white'>Trip #<%= @trip.id %></h1>
  <% if admin_user? %>
    <%= link_to 'Create New Trip', new_admin_trip_path, class:'btn btn-secondary' %>
  <% end %>
</header>

<section class='show-main'>
  <div class='show-info'>
    <div class="">Duration: <%= @trip.duration / 60 %> minutes</div>
    <% unless @trip.start_station.nil? %>
      <div class="">Start Station: <%= @trip.start_station.name %></div>
    <% end %>
    <% unless @trip.end_station.nil? %>
      <div class="">End Station: <%= @trip.end_station.name %></div>
    <% end %>
    <div class="">Start Date: <%= @trip.start_date.strftime("%m/%d/%Y") %></div>
    <div class="">End Date: <%= @trip.end_date.strftime("%m/%d/%Y") %></div>
    <div class="">Bike ID: <%= @trip.bike_id %></div>
    <div class="">Subscription Type: <%= @trip.subscription_type %></div>
    <div class="">Zip Code: <%= @trip.zip_code %></div>
  </div>
  <%= link_to '<< Back to Trips Index', trips_path %>
</section>

<div class='show-buttons'>
  <div class='button-group'>
    <% if admin_user? %>
      <%= button_to 'Edit', edit_admin_trip_path(@trip), method: :get, class:'btn btn-success show-edit-button' %>
      <%= button_to 'Delete', admin_trip_path(@trip), method: :delete, data: {confirm: "Really want to delete this trip?"}, class:'btn btn-danger' %>
    <% end %>
  </div>
</div>
