<h1>Name: <%= @station.name %></h1>

<% if admin_user? %>
  <%= button_to 'Edit', edit_admin_station_path(@station), method: :get %>
  <%= button_to 'Delete', admin_station_path(@station), method: :delete, data: {confirm: "Really want to delete this station?"} %>
<% end %>

<div class="">Dock Count: <%= @station.dock_count %></div>
<div class="">City: <%= @station.city %></div>
<div class="">Installation Date: <%= @station.installation_date.strftime("%m/%d/%Y") %></div>
<div class="">Number of Rides Started Here: <%= @station.rides_started_here %></div>
<div class="">Number of Rides Ended Here: <%= @station.rides_ended_here %></div>

<% unless @station.trips.empty? %>
  <div class="">Most Popular Place to Go From Here: <%= @most_popular_destination.name %></div>
  <div class="">Where Most Trips Come From: <%= @most_popular_origination.name %></div>
  <div class="">Date with the Most Trips Started Here: <%= @date_with_most_trips %></div>
  <div class="">Most Frequent Zip Code of Users Starting Here: <%= @zip_code_with_most_trips %></div>
  <div class="">Bike Id Starting Here Most Frequently: <%= @bike_id_with_most_trips %></div>
<% end %>
