<header class='jumbotron' id='header'>
  <h1 class='text-white'>Update Your Account Info</h1>
</header>

 <div class="form-block">
    <%= form_for @user do |f| %>
      <div class="">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <div class="">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class="">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="form-buttons">
        <%= f.submit "Update Account Info", class: 'btn btn-success' %>
      </div>
    <% end %>
 </div>
