<header class='jumbotron' id='header'>
  <h1 class='text-white'>Create Your Account</h1>
</header>

<div class='form-block'>
  <%= form_for @user do |f| %>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='form-buttons'>
      <%= f.submit "Create Account", class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
