<h1>Create New Station</h1>
<%= form_for @station do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :dock_count %>
  <%= f.number_field(:dock_count, in: 1..50, step: 1) %>

  <%= f.label :installation_date %>
  <%= f.date_field(:installation_date) %>

  <%= f.submit %>
<% end %>
