<p>Bike Accessories</p>

<% @order_accessories.each do |order_accessory| %>
  <div><%= link_to order_accessory.accessory.title, accessory_path(order_accessory.accessory) %></div>
  <div>Quantity: <%= order_accessory.quantity %></div>
  <div>Subtotal: <%= number_to_currency(order_accessory.subtotal) %></div>
  </br>
<% end %>

<p>Grand Total: <%= number_to_currency(@order.grand_total) %></p>
<p>Status: <%= @order.status.titleize %></p>
<p>Ordered On: <%= @order.created_at.strftime("%m/%d/%Y") %></p>
<% if (@order.status.downcase == "completed") || (@order.status.downcase == "cancelled") %>
  <p><%= @order.status.titleize %> On: <%= @order.updated_at.strftime("%m/%d/%Y") %></p>
<% end %>

<% if admin_user? %>
  <div>Purchaser: <%= @order.user.first_name.titleize %> <%= @order.user.last_name.titleize %></div>
  <div>Address: <%= @order.user.address.titleize %></div>
<% end %>
