<% if @removed_accessory %>
<div class="alert alert-primary m-0" role="alert">Link to <%= link_to @removed_accessory.title, accessory_path(@removed_accessory) %> page.</div>
<% end %>
<header class='jumbotron' id='header'>
  <h1 class='text-white'>Your Cart</h1>
</header>
<div class=" d-flex flex-wrap justify-content-center">
<% @cart_accessories.each do |accessory| %>
      <article class="cart-accessory-<%= accessory.id %> m-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= accessory.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= accessory.title %></h5>
          <p class="card-text"><%= number_to_currency(accessory.price) %></p>
          <p class="card-text">Quantity: <%= @cart.count_of(accessory.id) %></p>
          <p class="card-text">Subtotal: <%= number_to_currency(@cart.subtotal(accessory)) %></p>
          <%= button_to "Increase Quantity", carts_path(accessory_id: accessory.id, in_cart: true), method: :post, class: 'btn btn-primary mb-1' %>
          <%= button_to "Decrease Quantity", cart_path(accessory_id: accessory.id), method: :delete, class: 'btn btn-primary mb-1' %>
          <%= button_to "Remove", cart_path(accessory_id: accessory.id, remove: true), method: :delete, class: 'btn btn-primary mb-1' %>
        </div>
      </div>
    </article>
  <% end %>
</div>
<h3 class="d-flex justify-content-center mb-4">Grand Total: <%= currency = number_to_currency(@cart.grand_total(@cart_accessories)) %></h3>
<% if current_user && !(@cart_accessories.empty?)%>
  <div class='d-flex justify-content-center'><%= button_to "Checkout", orders_path(grand_total: currency), method: :post, class: "btn btn-primary btn-lg" %></div>
<% elsif current_user.nil? %>
  <div class='d-flex justify-content-center'><%= button_to "Checkout", login_path, method: :get, class: "btn btn-primary btn-lg" %></div>
<% end %>
