<p>Username: <%= current_user.username %></p>
<p>Email: <%= current_user.email %></p>

<div class="dropdown">
  <div class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By Status
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/admin/dashboard?status=all">All</a>
    <a class="dropdown-item" href="/admin/dashboard?status=ordered">Ordered</a>
    <a class="dropdown-item" href="/admin/dashboard?status=paid">Paid</a>
    <a class="dropdown-item" href="/admin/dashboard?status=cancelled">Cancelled</a>
    <a class="dropdown-item" href="/admin/dashboard?status=completed">Completed</a>
  </div>
</div>

<% if @orders %>
  <% @orders.each do |order| %>

    <div><%= link_to "Order Id: #{order.id}", order_path(order) %></div>
    <div>Status: <%= order.status.titleize %></div>
    <% if order.status.downcase == 'paid' || order.status.downcase == 'ordered' %>
      <div><%= link_to "Cancel", admin_order_path(order, status: 'cancelled'), method: :patch %></div>
    <% end %>
    <% if order.status.downcase == 'ordered' %>
      <div class=""><%= link_to "Mark As Paid", admin_order_path(order, status: 'paid'), method: :patch %></div>
    <% end %>
    <% if order.status.downcase == 'paid' %>
      <div class=""><%= link_to "Mark As Completed", admin_order_path(order, status: 'completed'), method: :patch %></div>
    <% end %>
  </br>
  <% end %>
<% end %>
