<header class='jumbotron' id='header'>
  <h1 class='text-white'>Bike Shop</h1>
  <% if admin_user? %>
    <%= link_to 'Create New Accessory', admin_bike_shop_new_path, class:'btn btn-secondary button-link' %>
  <% end %>
</header>

<section class='station-index-main'>
  <table class="table table-striped table-ligth" id='station-index-table'>
    <thead class='table-light table-header'>
      <tr>
        <th scope="col" id='table-entry'>Accessory</th>
        <th scope="col" id='table-entry'>Description</th>
        <th scope="col" id='table-entry'>Price</th>
        <th scope="col" id='table-entry'></th>
        <% if admin_user? %>
          <th scope="col" id='table-entry'></th>
          <th scope="col" id='table-entry'></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @accessories.each do |accessory| %>
        <tr class="accessory-<%= accessory.id %>"<%= accessory.id %>">
          <th id='table-entry'><%= link_to accessory.title, accessory_path(accessory) %></th>
          <td id='table-entry'><%= accessory.description %></td>
          <td id='table-entry'><%= number_to_currency(accessory.price) %></td>
          <% if accessory.retired? %>
            <td><%= button_to 'Retired', nil, disabled: true, class:'btn btn-outline-dark retired-button' %></td>
          <% else %>
            <td><%= button_to "Add to Cart", carts_path(accessory_id: accessory.id), class:'btn btn-primary' %></td>
          <% end %>
          <% if admin_user? %>
            <td><%= button_to 'Edit', edit_admin_accessory_path(accessory), method: :get, class:'btn btn-success' %></td>
            <td><%= button_to 'Delete', admin_accessory_path(accessory), method: :delete, data: {confirm: "Really want to delete this station?"}, class:'btn btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
