<h1><%= @accessory.title %></h1>
<img src='<%= @accessory.image %>' alt="Accessory Image">
<p><%= @accessory.description %></p>
<p>Price: <%= number_to_currency(@accessory.price) %></p>

<% if @accessory.retired? %>
  <p>Accessory Retired</p>
<% else %>
  <%= link_to 'Add to Cart' %>
<% end %>
