<h1><%= @accessory.title %></h1>
<img src='<%= @accessory.image %>' alt="Accessory Image">
<p><%= @accessory.description %></p>
<p><%= number_to_currency(@accessory.price) %></p>

<%= link_to 'Add to Cart' %>
