<header class='jumbotron' id='header'>
  <h1 class='text-white'><%= @accessory.title %></h1>
  <% if admin_user? %>
    <%= link_to 'Create New Accessory', admin_bike_shop_new_path, class:'btn btn-secondary button-link' %>
  <% end %>
</header>

<div class="accessory-show-subheader">
  <div class='accessory-show-buttons'>
    <% if admin_user? %>
    <%= button_to 'Edit', edit_admin_accessory_path(@accessory), method: :get, class:'btn btn-success show-edit-button' %>
    <%= button_to 'Delete', admin_accessory_path(@accessory), method: :delete, data: {confirm: "Really want to delete this station?"}, class:'btn btn-danger' %>
    <% end %>
  </div>
</div>

<section class='show-main'>
  <div class=accessory-card>
    <div class="card">
      <img class="card-img-top" src='<%= @accessory.image %>' alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title"><%= @accessory.title %></h3>
        <p class="card-text"><%= @accessory.description %></p>
        <p class='card-text'><%= number_to_currency(@accessory.price) %></p>
        <% if @accessory.retired? %>
          <p><%= button_to 'Retired', nil, disabled: true, class:'btn btn-outline-dark retired-button' %></p>
        <% else %>
          <p><%= button_to 'Add to Cart', carts_path(accessory_id: @accessory.id, on_show: true), class:'btn btn-primary' %></p>
        <% end %>
        <%= link_to '<< Back to Bike Shop', bike_shop_path %>
      </div>
    </div>
  </div>
</section>
