<!DOCTYPE html>
<html>
  <head>
    <title>Spoke</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Stations', stations_path %>
      <%= link_to 'Trips', trips_path %>
      <%= link_to 'Conditions', conditions_path %>
      <%= "Cart Count: #{@cart.total_count}" %>
      <% if admin_user? %>
        <%= "Logged in as Admin User: #{current_user.username}" %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% elsif current_user %>
        <%= "Logged in as #{current_user.first_name}" %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
       <%= link_to "Login", login_path %>
      <% end %>
    </nav>
    <%= flash[:notice] if flash[:notice] %>
    <%= yield %>
  </body>
</html>
