<!DOCTYPE html>
<html>
  <head>
    <title>Spoke</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <%= "Logged in as #{current_user.username}" %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
       <%= link_to "Login", login_path %>
       <%= link_to "Create Account", new_user_path %>
      <% end %>
    </nav>
    <%= flash[:notice] if flash[:notice] %>
    <%= yield %>
  </body>
</html>
